[submodule "StoffelVM"]
	path = StoffelVM
	url = git@github.com:Stoffel-Labs/StoffelVM.git
	branch = aws-fixes
[submodule "stoffel-mpc-coordinator"]
	path = stoffel-mpc-coordinator
	url = git@github.com:Stoffel-Labs/stoffel-mpc-coordinator.git
	branch = aws-deployment
